<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css">
    <title>{{ site.title }} {{ page.title }}</title>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">AMSB</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#AMSBnavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="AMSBnavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{ site.baseurl }}>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ "/external" | relative_url }}>External CRM Tracker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ "/daily" | relative_url }}>Daily Tracker (Onboarding)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ "/master" | relative_url }}>Master Tracker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ "/help" | relative_url }}>Help</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.sheet1 }}" target="_blank">Edit AMSB Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.sheet2 }}" target="_blank">Edit HOHCFP Data</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        Other Spreadsheets
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.sheet3 }}" target="_blank">Edit Military Affairs Relationship Tracker</a>
                        <a class="dropdown-item" href="{{ site.sheet4 }}" target="_blank">Edit Military OPS Contact List</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ "/howto" | relative_url }}>How to Enter Data</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main">
        {{ content }}
    </main>

    <script>
        $(document).ready(function () {
            var url = window.location;
            $('ul .nav-item a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');
        })
    </script>
</body>

</html>